@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap");
*,
svg,
::before,
::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

ul {
  list-style: none;
}

address {
  font-style: normal;
}

@media (prefers-color-scheme: dark) {
  body {
    color-scheme: light;
    background-color: #E6F9F3;
  }
}
html {
  scroll-behavior: smooth;
  scroll-padding-top: 50px;
}

body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  background-color: #E6F9F3;
  color: #212019;
  font-size: 25px;
}

section {
  overflow-y: hidden;
}

img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.layout-wrapper {
  margin: 0px auto;
  max-width: 1550px;
  background-color: #E6F9F3;
  padding: 50px 55px 0;
}

.site-wrapper {
  max-width: 1440px;
  margin: 0 auto;
  background-color: #FEFAE2;
  box-shadow: -2px -11px 8.6999998093px 0 rgba(66, 129, 108, 0.2);
  border-radius: 18px 18px 18px 18px;
}

.logo a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0;
}

.title {
  font-size: 90px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1;
}

.green {
  margin-top: 100px;
  padding-bottom: 300px;
}

.header {
  max-width: 1440px;
  margin: 0 auto;
  padding-top: 40px;
}

.header__top-container {
  padding-left: 23px;
  padding-right: 23px;
}

.header__top-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.header-menu {
  max-width: 760px;
  width: 100%;
}
.header-menu__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  color: #42816C;
  font-size: 36px;
  font-weight: 500;
}

.header__button {
  display: inline-flex;
  max-width: 314px;
  justify-content: center;
  align-items: center;
  padding: 22px 56px;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  background-color: #FCDE58;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.3s ease-in;
}
.header__button:hover, .header__button:focus {
  box-shadow: 0 4px 4px 0 #b3dcd7;
  outline: none;
}
.header__button:active {
  background-color: #42816C;
}

.header__content-container {
  padding-left: 36px;
  padding-right: 31px;
}

.header__content-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  margin-top: 71px;
}

.header__content-inner {
  max-width: 680px;
  max-width: 50%;
  margin-right: -50px;
  padding-top: 20px;
  position: relative;
}
.header__content-inner .header__bubble-sm-decor, .header__content-inner .header__bubble-lg-decor {
  position: absolute;
  background-color: #91C6FF;
  border-radius: 50px;
  transition: 0.3s ease-in;
}
.header__content-inner .header__bubble-sm-decor:hover, .header__content-inner .header__bubble-lg-decor:hover {
  background-color: #b3dcd7;
  transform: scale(1.1);
}

.header__bubble-sm-decor {
  width: 25px;
  height: 25px;
  top: 27%;
  left: 93%;
}

.header__bubble-lg-decor {
  width: 53px;
  height: 53px;
  top: 68%;
  left: 79%;
}

.header__content-title {
  font-size: 40px;
  color: #42816C;
  text-transform: uppercase;
  font-weight: 500;
}

.school {
  display: inline-flex;
  font-size: 44px;
  text-transform: none;
  position: relative;
  z-index: 1;
}
.school::before {
  content: "";
  position: absolute;
  width: 110px;
  height: 15px;
  background-color: #FCDE58;
  left: 50%;
  bottom: 17px;
  transform: rotate(-10deg) translateX(-50%);
  filter: blur(5px);
  z-index: -1;
}

.advantages {
  margin-top: 24px;
  font-size: 20px;
  margin-left: 45px;
}
.advantages__item {
  padding-top: 16px;
  position: relative;
}
.advantages__item::before {
  width: 25px;
  height: 25px;
  position: absolute;
  left: -40px;
  top: calc(50% + 8px);
  transform: translateY(-50%);
}
.advantages__item:not(:first-child)::before {
  content: url(./../../img/header/check-mark.svg);
}
.advantages__item:first-child::before {
  content: url(./../../img/header/error-mark.svg);
}

.header__content-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 24px 30px;
  margin-top: 50px;
  font-size: 25px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #fff;
  background-color: #42816C;
  border-radius: 15px;
  cursor: pointer;
  transition: 0.3s ease-in;
}
.header__content-btn:hover, .header__content-btn:focus {
  box-shadow: 0 4px 4px 0 rgba(255, 212, 42, 0.6);
  outline: none;
}
.header__content-btn:active {
  background-color: #FCDE58;
}

.header__img-wrapper {
  max-width: 53%;
}

.header__img {
  transition: 0.5s ease-in;
}
.header__img:hover {
  transform: scale(1.02);
}

.about {
  max-width: 1440px;
  margin: 0 auto;
  margin-top: 100px;
  padding-top: 110px;
}

.about__container {
  padding-left: 0px;
  padding-right: 19px;
}

.about__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0%;
  max-width: 1420px;
}

.about__column-image {
  max-width: 54%;
  margin-top: 25px;
}
.about__column-image .about__img {
  transition: 0.5s ease-in;
}
.about__column-image .about__img:hover {
  transform: scale(1.02);
}

.about__img-text p {
  font-size: 28px;
  font-weight: 500;
  color: #3C5A4C;
  margin-top: 35px;
  margin-left: 35px;
}

.about__column-descr {
  max-width: 48%;
}

.about__title {
  color: #42816C;
  margin-bottom: 15px;
}

.about__descr-text p {
  padding-top: 24px;
}

.footer {
  position: relative;
}

.footer_content {
  max-width: 1500px;
  margin: -300px auto;
  background: url("./../../img/footer/bgr_footer.png") no-repeat center bottom;
  background-size: contain;
  height: 420px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  width: 1204px;
  height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-top: 80px;
}

.bgr_decor {
  margin: 0 auto;
  width: 100%;
  height: 300px;
  background: url("./../../img/footer/bgr_footer_decor.png") no-repeat center bottom;
  background-size: contain;
  position: absolute;
  left: 0px;
  bottom: 0px;
}

.menu-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px 40px;
  max-width: 400px;
}/*# sourceMappingURL=main.css.map */