@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap");
*,
svg,
::before,
::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

ul {
  list-style: none;
}

address {
  font-style: normal;
}

@media (prefers-color-scheme: dark) {
  body {
    color-scheme: light;
    background-color: #E6F9F3;
  }
}
html {
  scroll-behavior: smooth;
  scroll-padding-top: 50px;
}

body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  background-color: #E6F9F3;
  color: #212019;
  font-size: 25px;
  padding-right: -25px;
}
body.lock {
  overflow: hidden;
  padding-right: 25px;
}

section {
  max-width: 1440px;
  margin: 0 auto;
  overflow-y: hidden;
}

img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.layout-wrapper {
  margin: 0px auto;
  max-width: 1550px;
  background-color: #E6F9F3;
  padding: 50px 55px 0;
}

.site-wrapper {
  max-width: 1440px;
  margin: 0 auto;
  background-color: #FEFAE2;
  box-shadow: -2px -11px 8.6999998093px 0 rgba(66, 129, 108, 0.2);
  border-radius: 18px 18px 18px 18px;
}

.logo {
  width: 99px;
  height: 99px;
}

.logo a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0;
}

.title {
  font-size: 90px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1;
}

.header {
  padding-top: 40px;
}

.header__top-container {
  padding-left: 23px;
  padding-right: 23px;
}

.header__top-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.header-menu {
  max-width: 760px;
  width: 100%;
}
.header-menu__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  color: #42816C;
  font-size: 36px;
  font-weight: 500;
}

.header-menu__link {
  position: relative;
  z-index: 5;
}
.header-menu__link:focus {
  outline: none;
}

.header-menu__link::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 15px;
  background-color: #FCDE58;
  left: 0%;
  bottom: -20px;
  transform: rotate(-10deg);
  filter: blur(5px);
  z-index: -1;
  transition: 0.3s ease-in;
  transform-origin: left;
}

.header-menu__link:hover::after,
.header-menu__link:focus::after,
.header-menu__link:active::after {
  width: 110%;
}

.header__button {
  display: inline-flex;
  max-width: 314px;
  justify-content: center;
  align-items: center;
  padding: 22px 56px;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  background-color: #FCDE58;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.3s ease-in;
}
.header__button:hover, .header__button:focus {
  box-shadow: 0 4px 4px 0 #b3dcd7;
  outline: none;
}
.header__button:active {
  background-color: #42816C;
}

.header__content-container {
  padding-left: 36px;
  padding-right: 31px;
}

.header__content-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  margin-top: 71px;
}

.header__content-inner {
  max-width: 680px;
  max-width: 50%;
  margin-right: -50px;
  padding-top: 20px;
  position: relative;
}
.header__content-inner .header__bubble-sm-decor,
.header__content-inner .header__bubble-lg-decor {
  position: absolute;
  background-color: #91C6FF;
  border-radius: 50px;
  transition: 0.3s ease-in;
}
.header__content-inner .header__bubble-sm-decor:hover,
.header__content-inner .header__bubble-lg-decor:hover {
  background-color: #b3dcd7;
  transform: scale(1.1);
}

.header__bubble-sm-decor {
  width: 25px;
  height: 25px;
  top: 27%;
  left: 93%;
}

.header__bubble-lg-decor {
  width: 53px;
  height: 53px;
  top: 68%;
  left: 79%;
}

.header__content-title {
  font-size: 40px;
  color: #42816C;
  text-transform: uppercase;
  font-weight: 500;
}

.school {
  display: inline-flex;
  font-size: 44px;
  text-transform: none;
  position: relative;
  z-index: 1;
}
.school::before {
  content: "";
  position: absolute;
  width: 110px;
  height: 15px;
  background-color: #FCDE58;
  left: 50%;
  bottom: 17px;
  transform: rotate(-10deg) translateX(-50%);
  filter: blur(5px);
  z-index: -1;
}

.advantages {
  margin-top: 24px;
  font-size: 20px;
  margin-left: 45px;
}
.advantages__item {
  padding-top: 16px;
  position: relative;
}
.advantages__item::before {
  width: 25px;
  height: 25px;
  position: absolute;
  left: -40px;
  top: calc(50% + 8px);
  transform: translateY(-50%);
}
.advantages__item:not(:first-child)::before {
  content: url(./../../img/header/check-mark.svg);
}
.advantages__item:first-child::before {
  content: url(./../../img/header/error-mark.svg);
}

.header__content-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 24px 30px;
  margin-top: 50px;
  font-size: 25px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #fff;
  background-color: #42816C;
  border-radius: 15px;
  cursor: pointer;
  transition: 0.3s ease-in;
}
.header__content-btn:hover, .header__content-btn:focus {
  box-shadow: 0 4px 4px 0 rgba(255, 212, 42, 0.6);
  outline: none;
}
.header__content-btn:active {
  background-color: #FCDE58;
}

.header__img-wrapper {
  max-width: 53%;
}

.header__img {
  transition: 0.5s ease-in;
}
.header__img:hover {
  transform: scale(1.02);
}

.about {
  margin-top: 20px;
  padding-top: 80px;
}

.about__container {
  padding-left: 0px;
  padding-right: 19px;
}

.about__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0%;
  max-width: 1420px;
}

.about__column-image {
  max-width: 54%;
  margin-top: 25px;
}
.about__column-image .about__img {
  transition: 0.5s ease-in;
}
.about__column-image .about__img:hover {
  transform: scale(1.02);
}

.about__img-text p {
  font-size: 28px;
  font-weight: 500;
  color: #3c5a4c;
  margin-top: 35px;
  margin-left: 35px;
}

.about__column-descr {
  max-width: 48%;
}

.about__title-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  max-width: 637px;
  margin-top: -60px;
  align-items: flex-end;
}

.about__title {
  color: #42816C;
  margin-bottom: 15px;
}

.about__title-img {
  max-width: 161px;
}

.about__descr-text p {
  padding-top: 24px;
}

.star {
  fill: #acc400;
  width: 100px;
  height: 100px;
}

.help {
  margin-top: 180px;
  padding-top: 240px;
  padding-bottom: 50px;
  position: relative;
  height: 1090px;
  overflow: hidden;
}
.help::before, .help::after {
  position: absolute;
  width: 100%;
  height: 500px;
  z-index: 0;
}
.help::before {
  content: url("./../../img/help/help-bgr-before.png");
  top: 0;
  left: 0;
}
.help::after {
  content: url("./../../img/help/help-bgr-after.png");
  bottom: 95px;
  left: 0;
}

.help__container {
  padding-left: 50px;
  padding-right: 50px;
  position: relative;
  z-index: 1;
}

.help__title {
  font-size: 50px;
  font-weight: 700;
  color: #42816C;
  text-align: center;
}

.help__text {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px 40px;
  margin-top: 60px;
}
.help__text p {
  max-width: 535px;
  margin-left: 90px;
  position: relative;
}
.help__text p::before {
  content: url("/img/about/Group.svg");
  position: absolute;
  top: 0;
  left: -85px;
}

.teachers {
  padding-top: 0px;
}

.teachers__container {
  padding-left: 40px;
  padding-right: 0px;
}

.teachers__content {
  display: flex;
  flex-direction: column;
  padding-right: 118px;
}

.teachers__title-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 19px;
  align-self: flex-end;
  align-items: flex-end;
}

.teachers__title {
  color: #42816C;
}

.teachers__descr1 {
  margin-top: 60px;
  max-width: 1282px;
  font-size: 28px;
  font-weight: 500;
}

.teachers__descr2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 14px;
  align-items: end;
  margin-top: 40px;
  font-size: 28px;
  position: relative;
}
.teachers__descr2::before {
  content: url("./../../img/teachers/teachers-man.webp");
  position: absolute;
  bottom: 66px;
  right: 28px;
}

.teachers__button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 20px 69px;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #fff;
  border-radius: 50px;
  background-color: #42816C;
  cursor: pointer;
  transition: 0.3s ease-in;
}
.teachers__button:hover, .teachers__button:focus {
  box-shadow: 0 4px 4px 0 rgba(255, 212, 42, 0.6);
  outline: none;
}
.teachers__button:active {
  background-color: #FCDE58;
}

.teachers__slider {
  margin-top: 96px;
}

.teachers__swiper .swiper-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  margin-bottom: 50px;
}

.teachers__swiper .swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 450px;
  height: auto;
  border: 1px solid #46A988;
  padding: 20px 10px 22px;
  border-radius: 5px;
  text-align: center;
  color: #2D2B2B;
  cursor: grab;
}
.teachers__swiper .swiper-slide:active {
  cursor: grabbing;
}

.teachers__slide-img-wrapper {
  position: relative;
  max-width: 310px;
  max-height: 356px;
}

.teachers__slide-btn-svg {
  width: 65px;
  height: 65px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  fill: #fff;
  cursor: pointer;
  transition: 0.3s ease-in;
}
.teachers__slide-btn-svg:hover {
  fill: #3c5a4c;
}

.teachers__slide-img {
  max-width: 310px;
  max-height: 356px;
  border-radius: 15px;
}

.teachers__slide-title {
  margin-top: 5px;
  font-size: 30px;
  font-weight: 500;
}

.teachers__slide-text:first-child p {
  margin-top: 5px;
  font-size: 22px;
}

.teachers__slide-text:last-child p {
  margin-top: 8px;
  font-size: 22px;
}

.teachers__swiper .swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  background-color: #42816C;
}
@media (max-width: 767.98px) {
  .teachers__swiper .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
  }
}
@media (max-width: 575.98px) {
  .teachers__swiper .swiper-pagination-bullet {
    width: 8px;
    height: 8px;
  }
}
@media (max-width: 389.98px) {
  .teachers__swiper .swiper-pagination-bullet {
    width: 7px;
    height: 7px;
  }
}

.teachers-modal-box {
  position: fixed;
  padding: 15px;
  z-index: 99;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(60, 90, 76, 0.6);
  opacity: 0;
  visibility: hidden;
  transition: 0.7s ease-in-out;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  justify-content: center;
  cursor: pointer;
}

.teachers-modal-box.show {
  opacity: 1;
  visibility: visible;
}

.teachers-modal-box__wrapper {
  max-width: 1100px;
  background: linear-gradient(to bottom, #FCE169 0%, #FDBEB2 100%);
  border-radius: 50px;
  position: relative;
  padding: 115px 139px;
  z-index: 999;
  cursor: default;
}

.teachers-modal-box__video {
  width: 100%;
  height: auto;
  border-radius: 15px;
  cursor: pointer;
}

.teachers-modal-box__close-btn {
  width: 45px;
  height: 45px;
  background: transparent;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  cursor: pointer;
  position: absolute;
  top: 6%;
  right: 5%;
}

.teachers-modal-box__close-btn-svg {
  fill: #42816C;
  transition: 0.3s ease-in;
}
.teachers-modal-box__close-btn-svg:hover {
  fill: #f99576;
}

.tariffs {
  margin-top: 130px;
}

.tariffs__container {
  padding-left: 41px;
  padding-right: 41px;
}

.tariffs__cards-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2%;
  align-items: end;
}

.accent-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  flex-direction: column;
  max-width: 343px;
  padding: 19px 27px 15px;
  border-radius: 50px;
  background-color: #FFD42A;
}

.accent-card__flower {
  max-width: 236px;
  height: auto;
  margin-bottom: 13px;
}

.card-inner {
  max-width: 290px;
  margin-top: 30px;
  padding: 28px 16px 16px;
  text-align: center;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.last-card {
  padding: 28px 8px 20px;
}

.tariffs__simple-cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2%;
}

.card-img {
  border-radius: 130px;
}

.accent-card__img {
  margin-bottom: 15px;
  margin-top: 21px;
}

.simple-card__img {
  margin-bottom: 8px;
}

.simple-card__img1,
.simple-card__img2 {
  width: 258px;
  margin-top: 23px;
}

.simple-card__img3 {
  width: 274px;
  margin-top: 21px;
}

.card-price {
  font-size: 30px;
  margin-bottom: 7px;
}

.card-lessons {
  font-size: 33px;
  font-weight: 600;
}

.accent-card__lessons {
  color: #D9664A;
}

.simple-card__lessons {
  color: #42816C;
}

.accent-card__lessons-crossed-out {
  margin-top: 5px;
  font-size: 31px;
  font-weight: 600;
  color: #D9664A;
  position: relative;
}
.accent-card__lessons-crossed-out::before {
  content: "";
  position: absolute;
  left: 50%;
  height: 2px;
  width: 85%;
  background-color: currentColor;
  top: 55%;
  transform: translateX(-50%);
}

.card-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 13px 51px;
  margin-top: 29px;
  font-size: 25px;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 15px;
  cursor: pointer;
  transition: 0.3s ease-in;
}

.accent-card__btn {
  color: #3c5a4c;
  background-color: #fff;
}

.simple-card__btn {
  background-color: #42816C;
  color: #fff;
  margin-bottom: 15px;
}
.simple-card__btn:hover, .simple-card__btn:focus {
  box-shadow: 0 4px 4px 0 rgba(255, 212, 42, 0.6);
  outline: none;
}
.simple-card__btn:active {
  background-color: #FCDE58;
}

.tariffs__title-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
  flex-direction: column;
  max-width: 976px;
}

.tariffs__title-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  align-self: flex-end;
  align-items: flex-end;
  margin-right: 78px;
}

.tariffs__title-img {
  max-width: 129px;
  height: auto;
}

.tariffs__title {
  color: #FFD42A;
}

.questions {
  margin-top: 130px;
}

.questions__container {
  padding-left: 30px;
  padding-right: 30px;
}

.questions__title-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 11px;
}

.questions__title {
  color: #FFD42A;
}

.questions__title-img {
  max-width: 99px;
}

.accordion {
  margin-top: 70px;
  list-style: none;
}

.accordion-item {
  padding: 31px 30px;
  position: relative;
  background: linear-gradient(to right, rgb(252, 225, 104) 0%, rgba(252, 225, 104, 0.8) 41%, rgba(249, 149, 118, 0.4) 100%);
  border-radius: 50px;
  margin-bottom: 30px;
}

.faq-close {
  fill: #fff;
  position: absolute;
  top: 37px;
  right: 85px;
  transform: scale(1) rotate(0deg);
  transition: 0.3s ease-in;
}

.accordion-item-title {
  font-size: 30px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  transition: 0.3s ease-in;
  width: 87%;
}
.accordion-item-title:hover, .accordion-item-title:active {
  color: #212019;
}
.accordion-item-title span .faq-close:hover {
  fill: #212019 !important;
}

.accordion-item-content {
  max-width: 1195px;
  margin-top: 0px;
  max-height: 0px;
  overflow: hidden;
  transition: 0.5s ease-in-out;
}

.reviews {
  margin-top: 130px;
}

.reviews__container {
  padding-left: 0px;
  padding-right: 0px;
}

.reviews__title-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  justify-content: center;
}

.reviews__title {
  color: #42816C;
}

.reviews__title-img {
  max-width: 80px;
}

.reviews__slider {
  margin-top: 69px;
  padding: 56px 0 105px 10px;
  background-image: url(./../../img/reviews/reviews-bgr.webp);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

.reviews__swiper .swiper-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  margin-bottom: 64px;
}

.reviews__swiper .swiper-slide {
  height: auto;
  background-color: #FEFAE2;
  padding: 18px 18px 25px 27px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  border-radius: 15px 0 15px 0;
  cursor: grab;
}
.reviews__swiper .swiper-slide:active {
  cursor: grabbing;
}

.reviews__slide-title-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  justify-content: flex-start;
}

.reviews__slide-avatar {
  max-width: 71px;
}

.reviews__slide-title {
  font-size: 30px;
  font-weight: 600;
  color: #3c5a4c;
  text-transform: uppercase;
}

.reviews__slide-descr {
  margin-top: 17px;
}

.reviews__swiper .swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  background-color: #42816C;
}
@media (max-width: 767.98px) {
  .reviews__swiper .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
  }
}
@media (max-width: 575.98px) {
  .reviews__swiper .swiper-pagination-bullet {
    width: 8px;
    height: 8px;
  }
}
@media (max-width: 389.98px) {
  .reviews__swiper .swiper-pagination-bullet {
    width: 7px;
    height: 7px;
  }
}

.contact {
  margin-top: 200px;
  padding-bottom: 570px;
}

.contact__container {
  padding-left: 0px;
  padding-right: 76px;
}

.contact__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5%;
}

.contact__img {
  max-width: 706px;
  border-radius: 0 50px 50px 0;
  max-width: 52%;
}

.contact__content {
  max-width: 44%;
}

.contact__title {
  font-size: 45px;
  font-weight: 500;
}

.contact__descr {
  margin-top: 8px;
  font-size: 25px;
  font-weight: 500;
  line-height: 35px;
  color: #42816C;
}

.contact__form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  flex-direction: column;
  align-items: flex-start;
  margin-top: -10px;
}

.contact__form-label {
  font-size: 12px;
  font-weight: 500;
  color: #7AA695;
  margin-top: 20px;
  margin-bottom: 5px;
  cursor: pointer;
}

.contact__form-input {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 17px 20px 16px;
  border: 1px solid #42816C;
  border-radius: 15px;
  background: transparent;
  font-size: 22px;
  font-weight: 500;
  color: #212019;
  cursor: pointer;
}
.contact__form-input::-moz-placeholder {
  color: rgba(33, 32, 25, 0.3);
  padding-top: 15px;
}
.contact__form-input::placeholder {
  color: rgba(33, 32, 25, 0.3);
  padding-top: 15px;
}
.contact__form-input:hover, .contact__form-input:focus {
  outline: 2px solid #42816C;
}

.contact__form-btn {
  width: 100%;
  margin-top: 30px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding-top: 18px;
  padding-bottom: 16px;
  font-size: 25px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #212019;
  background: linear-gradient(to right, #FFD42A 0%, #FFBAD1 100%);
  border-radius: 15px;
  cursor: pointer;
  transition: 0.3s ease-in;
  position: relative;
  overflow: hidden;
}
.contact__form-btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #FFD42A;
  transition: transform 0.4s ease-in-out;
  transform: scaleX(0);
  transform-origin: left;
  z-index: 0;
  overflow: hidden;
}
.contact__form-btn:hover::after, .contact__form-btn:focus::after {
  transform: scaleX(1);
}
.contact__form-btn > * {
  position: relative;
  z-index: 2;
}

.contact__socials {
  margin-top: 13px;
  color: #42816C;
}

.contact__socials-svg {
  margin-top: 14px;
  margin-right: 22px;
  transform: scale(0.9);
  transition: 0.3s ease-in;
}
.contact__socials-svg:hover, .contact__socials-svg:focus {
  transform: scale(1.1);
  outline: none;
}

.contact__form-result {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 15px;
  padding-right: -25px;
  z-index: 99;
  inset: 0;
  background-color: rgba(60, 90, 76, 0.6);
  opacity: 0;
  visibility: hidden;
  transition: 0.3s ease-in;
}

.contact__form-result.show {
  opacity: 1;
  visibility: visible;
}

.contact__form-result-wrapper {
  max-width: 704px;
  background: linear-gradient(to bottom, #FFD333 0%, #FFBCC3 100%);
  border-radius: 15px;
  position: relative;
  padding: 138px 164px;
  z-index: 999;
  font-size: 42px;
  font-weight: 500;
  text-align: center;
  color: #fff;
  overflow: hidden;
}
.contact__form-result-wrapper::before, .contact__form-result-wrapper::after {
  position: absolute;
}
.contact__form-result-wrapper::before {
  content: url(./../../img/contact/result-decor-top.webp);
  top: 0;
  left: 0;
}
.contact__form-result-wrapper::after {
  content: url(./../../img/contact/result-decor-bottom.webp);
  bottom: -10px;
  right: -5px;
}

.contact__form-result-check {
  width: 80px;
  height: 80px;
  margin: 0 auto 50px;
  background-color: #FEFCF3;
  border-radius: 12px;
  position: relative;
}
.contact__form-result-check svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.footer {
  position: relative;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  justify-content: center;
  max-width: 1500px;
  margin: -300px auto;
  background: url("./../../img/footer/bgr_footer.png") no-repeat center bottom;
  background-size: contain;
  height: 440px;
}

.footer-content__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  width: 1204px;
  height: 120px;
  margin-top: 110px;
  position: relative;
  z-index: 2;
}

.footer__logo {
  width: 120px;
  height: 120px;
}

.footer__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px 85px;
  color: #42816C;
  font-size: 25px;
  font-weight: 500;
}

.footer__button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 26px 60px;
  font-size: 25px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #fff;
  border-radius: 50px;
  background-color: #42816C;
  cursor: pointer;
  transition: 0.3s ease-in;
}
.footer__button:hover, .footer__button:focus {
  box-shadow: 0 4px 4px 0 rgba(255, 212, 42, 0.6);
  outline: none;
}
.footer__button:active {
  background-color: #FCDE58;
}

.footer__socials-svg {
  transition: 0.3s ease-in;
}
.footer__socials-svg:hover, .footer__socials-svg:focus {
  transform: scale(1.1);
  outline: none;
}

.footer__socials a:last-child {
  margin-left: 59px;
}

.footer__bgr-decor {
  margin: 0 auto;
  width: 100%;
  height: 300px;
  background: url("./../../img/footer/bgr_footer_decor.png") no-repeat center bottom;
  background-size: contain;
  position: absolute;
  left: 0px;
  bottom: 0px;
}/*# sourceMappingURL=main.css.map */