.about {
  max-width: 1440px;
  margin: 0 auto;
  margin-top: 100px;
  padding-top: 110px;
}

.about__container {
  padding-left: 0px;
  padding-right: 19px;
}

.about__wrapper {
  @include flex(0%);
  max-width: 1420px;
}

.about__column-image {
  max-width: 54%;
  margin-top: 25px;

  .about__img {
    transition: 0.5s ease-in;

    &:hover {
      transform: scale(1.02);
    }
  }
}

.about__img-text p{
  font-size: 28px;
  font-weight: 500;
  color: $secondTextColor;
  margin-top: 35px;
  margin-left: 35px;
}

.about__column-descr {
  max-width: 48%;
}

.about__title {
  color: $mainColor;
  margin-bottom: 15px;
}

.about__descr-text p{
  padding-top: 24px;
}
