.about {
  margin-top: 40px;
  padding-top: 100px;
}

.about__container {
  padding-left: 0px;
  padding-right: 19px;
}

.about__wrapper {
  @include flex(0%);
  max-width: 1420px;
}

.about__column-image {
  max-width: 54%;
  margin-top: 25px;

  .about__img {
    transition: 0.5s ease-in;

    &:hover {
      transform: scale(1.02);
    }
  }
}

.about__img-text p {
  font-size: 28px;
  font-weight: 500;
  color: $secondTextColor;
  margin-top: 35px;
  margin-left: 35px;
}

.about__column-descr {
  max-width: 48%;
}

.about__title-wrapper {
  @include flex;
  max-width: 637px;
  margin-top: -60px;
  align-items: flex-end;
}

.about__title {
  color: $mainColor;
  margin-bottom: 15px;
}

.about__title-img{
max-width: 161px;
}

.about__descr-text p {
  padding-top: 24px;
}

.star {
  fill: #acc400;
  width: 100px;
  height: 100px;
}
