.footer {
  position: relative;
  margin: 0 auto;

  @include lg-tablet {
    height: 525px;
  }

  @include tablet {
    height: 485px;
  }

  @include lg-mobile {
    height: 310px;
  }

  @include mobile {
    height: 290px;
  }
}

.footer-content {
  @include flex;
  justify-content: center;
  max-width: 1500px;
  width: 100%;
  margin: -300px auto;
  background: url("./../../img/footer/bgr_footer.webp") no-repeat center bottom;
  background-size: contain;
  height: 440px;
  position: relative;

  @include tablet {
    height: 385px;
  }

  @include lg-mobile {
    height: 340px;
  }
}

.footer-content__wrapper {
  @include flex(85px);
  max-width: 1204px;
  height: 120px;
  margin-top: 110px;
  position: relative;
  z-index: 2;

  @include laptop {
    margin-top: 170px;
    height: 100px;
    gap: 60px;
  }

  @include lg-tablet {
    width: 80%;
    height: auto;
    margin-top: 290px;
    align-items: flex-end;
  }

  @include tablet {
    margin-top: 305px;
  }

  @include lg-mobile {
    margin-top: 365px;
    gap: 25px;
  }

  @include mobile {
    margin-top: 335px;
    gap: 5px;
  }
}

.footer__contact {
  @include lg-tablet {
    @include flex(10px);
    flex-direction: column;
  }
}

.footer__logo {
  width: 120px;
  height: 120px;

  @include laptop {
    width: 100px;
    height: 100px;
  }

  @include lg-tablet {
    width: 80px;
    height: 80px;
  }

  @include tablet {
    width: 60px;
    height: 60px;
  }

  @include lg-mobile {
    width: 45px;
    height: 45px;
  }

  @include mobile {
    width: 32px;
    height: 32px;
  }
}

.footer__logo a {
  @include flex;

  &:focus {
    outline: 3px solid $mainColor;
    outline-offset: 3px;
    border-radius: 130px;
  }
}

.footer-menu {
  @include flex(106px);

  @media (max-width: 1314.98px) {
    gap: 70px;
  }

  @include laptop {
    gap: 45px;
  }

  @include lg-tablet {
    flex-direction: column;
  }

  @include tablet {
    gap: 25px;
  }

  @include lg-mobile {
    gap: 25px;
  }

  @include mobile {
    gap: 17px;
  }
}

.footer__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px 85px;
  color: $mainColor;
  font-size: 25px;
  font-weight: 500;

  @media (max-width: 1314.98px) {
    gap: 20px 50px;
  }

  @include laptop {
    gap: 18px 25px;
    font-size: 22px;
  }

  @include lg-tablet {
    gap: 18px 55px;
  }

  @include tablet {
    gap: 18px 45px;
    font-size: 18px;
  }

  @include lg-mobile {
    gap: 10px 45px;
    font-size: 14px;
  }

  @include mobile {
    gap: 10px 35px;
    font-size: 12px;
  }
}

.footer__button {
  padding: 26px 60px;
  font-size: 25px;
  font-weight: 700;
  letter-spacing: 1px;
  color: $whiteColor;
  border-radius: $borderRadiusExtra;
  background-color: $mainColor;

  @include laptop {
    padding: 20px 40px;
    font-size: 22px;
  }

  @include lg-tablet {
    padding: 15px 45px;
  }

  @include tablet {
    padding: 11px 45px;
    font-size: 20px;
    font-weight: 600;
  }

  @include lg-mobile {
    padding: 7px 35px;
    font-size: 18px;
    text-transform: none;
    font-weight: 500;
    letter-spacing: 0px;
  }

  @include mobile {
    padding: 5px 30px;
    font-size: 16px;
  }

  &:hover,
  &:focus {
    box-shadow: 0 4px 4px 0 rgba(255, 212, 42, 0.6);
    outline: none;
  }

  &:active {
    background-color: $accentBgrColor;
  }
}

.footer__socials-desktop {
  @include lg-tablet {
    display: none;
  }
}

.footer__socials-mobile {
  display: none;

  @include lg-tablet {
    display: block;
  }
}

.footer__socials-link{
 display: inline-flex;
 padding: 0;
}

.footer__socials-svg {
  @include laptop {
    transform: scale(0.9);
  }

  @include lg-tablet {
    transform: scale(0.7);
  }

  @include tablet {
    transform: scale(0.6);
  }

  @include lg-mobile {
    transform: scale(0.5);
    margin-bottom: -15px;
  }

  @include mobile {
    transform: scale(0.4);
  }
}

.footer__socials-link:last-child {
  margin-left: 59px;

  @media (max-width: 1314.98px) {
    margin-left: 30px;
  }

  @include laptop {
    margin-left: 20px;
  }

  @include tablet {
    margin-left: 0px;
  }

  @include lg-mobile {
    margin-left: -10px;
  }

  @include mobile {
    margin-left: -15px;
  }
}

.footer__bgr-decor {
  margin: 0 auto;
  width: 100%;
  height: 300px;

  background: url("./../../img/footer/bgr_footer_decor-desktop.webp") no-repeat
    center bottom;
  background-size: contain;
  position: absolute;
  left: 0px;
  bottom: 0px;

  @include lg-mobile {
    background: url("./../../img/footer/bgr_footer_decor-mobile.webp") no-repeat
      center bottom;
    bottom: -130px;
  }
}

// DECOR

.footer__decor-circle1 {
  @include decor(-35%, 14%);
  @include decorAnimationCircle(11s);

  @include laptop {
    top: -5%;
  }

  @include lg-tablet {
    display: none;
  }
}

.footer__decor-circle2 {
  @include decor(9%, 31%);
  @include decorAnimationCircle(6s);

  @include laptop {
    top: 23%;
  }

  @include lg-tablet {
    top: 39%;
  }

  @include lg-mobile {
    @include decorAnimationCircleMobile(6s);
  }

  @include mobile {
    top: 67%;
    left: 28%;
  }
}

.footer__decor-circle3 {
  @include decor(-4%, 54%);
  @include decorAnimationCircle(15s);

  @include laptop {
    top: 14%;
  }

  @include lg-tablet {
    top: 30%;
  }

  @include lg-mobile {
    @include decorAnimationCircleMobile(15s);
  }

  @include mobile {
    top: 53%;
    left: 49%;
  }
}

.footer__decor-circle4 {
  @include decor(-25%, 76%);
  @include decorAnimationCircle(8s);

  @include laptop {
    top: -5%;
  }

  @include lg-tablet {
    top: 11%;
  }

  @include lg-mobile {
    @include decorAnimationCircleMobile(8s);
  }

  @include mobile {
    top: 36%;
    left: 63%;
  }
}

.footer__decor-plus1 {
  @include decor(-17%, 75px);
  @include decorAnimation(4s);
  fill: $decorFooter2;

  @include lg-tablet {
    top: 17%;
  }

  @include lg-mobile {
    @include decorAnimationMobile(4s);
    top: 30%;
    left: 30px;
  }

  @include mobile {
    top: 35%;
    left: 18px;
  }
}

.footer__decor-plus2 {
  @include decor(23%, 69%);
  @include decorAnimation(8s);
  fill: $decorFooter1;

  @media (max-width: 1285.98px) {
    top: 34%;
    left: 78%;
  }

  @include lg-tablet {
    top: 67%;
    left: 40%;
  }

  @include lg-mobile {
    @include decorAnimationMobile(8s);
    top: 51%;
    left: 66%;
  }

  @include mobile {
    top: 63%;
    left: 62%;
  }
}

.footer__decor-plus3 {
  position: absolute;
  top: -45%;
  right: 70px;
  @include decorAnimation;
  fill: $decorFooter3;

  @media (max-width: 1285.98px) {
    top: -32%;
  }

  @include laptop {
    display: none;
  }
}

.footer-content::before {
  position: absolute;
  content: url(./../../img/footer/footer_man.webp);
  top: -4%;
  left: 15%;
  z-index: 5;

  @media (max-width: 1479.98px) {
    top: -2%;
  }

  @media (max-width: 1389.98px) {
    top: 2%;
  }

  @media (max-width: 1344.98px) {
    top: 5%;
  }

  @media (max-width: 1279.98px) {
    top: 8%;
  }

  @include laptop {
    top: 11%;
  }

  @media (max-width: 1139.98px) {
    top: 14%;
  }

  @media (max-width: 1089.98px) {
    top: 16%;
  }

  @include lg-tablet {
    top: 21%;
  }

  @media (max-width: 929.98px) {
    top: 24%;
  }

  @media (max-width: 829.98px) {
    top: 28%;
  }

  @include tablet {
    transform: scale(0.8);
    top: 25%;
  }

  @media (max-width: 714.98px) {
    top: 28%;
  }

  @media (max-width: 649.98px) {
    top: 31%;
  }

  @include lg-mobile {
    transform: scale(0.6);
  }

  @media (max-width: 499.98px) {
    top: 35%;
    left: 10%;
  }

  @media (max-width: 429.98px) {
    top: 38%;
    left: 7%;
  }

  @include mobile {
    transform: scale(0.6);
    top: 42%;
  }

  @media (max-width: 339.98px) {
    top: 44%;
  }
}

.footer-content::after {
  position: absolute;
  content: url(./../../img/footer/footer_woman.webp);
  top: -34%;
  right: 8%;
  z-index: 5;

  @media (max-width: 1479.98px) {
    top: -30%;
  }

  @media (max-width: 1389.98px) {
    top: -25%;
  }

  @media (max-width: 1344.98px) {
    top: -22%;
  }

  @media (max-width: 1279.98px) {
    top: -17%;
  }

  @include laptop {
    top: -12%;
  }

  @media (max-width: 1139.98px) {
    top: -10%;
  }

  @media (max-width: 1089.98px) {
    top: -4%;
  }

  @include lg-tablet {
    top: 1%;
  }

  @media (max-width: 929.98px) {
    top: 6%;
  }

  @media (max-width: 829.98px) {
    top: 12%;
  }

  @include tablet {
    transform: scale(0.8);
    top: 7%;
  }

  @media (max-width: 714.98px) {
    top: 12%;
  }

  @media (max-width: 649.98px) {
    top: 16%;
  }

  @include lg-mobile {
    transform: scale(0.6);
  }

  @media (max-width: 499.98px) {
    top: 23%;
    right: 7%;
  }

  @media (max-width: 429.98px) {
    top: 29%;
  }

  @include mobile {
    transform: scale(0.6);
    top: 33%;
  }

  @media (max-width: 339.98px) {
    top: 36%;
  }
}
