.header {
  padding-top: 40px;

  @include lg-tablet {
    padding-top: 30px;
  }

  @include lg-mobile {
    padding-top: 20px;
  }

  @include mobile {
    padding-top: 10px;
  }
}

.header__top-container {
  padding-left: 23px;
  padding-right: 23px;

  @include lg-mobile {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.header__top-inner {
  @include flex(5%);
  width: 100%;
}

.logo {
  @include flex;
  max-width: 99px;

  @include laptop {
    max-width: 80px;
  }

  @include tablet {
    max-width: 50px;
  }

  @include lg-mobile {
    max-width: 40px;
  }

  @include mobile {
    max-width: 30px;
  }

  &:focus {
    outline: 3px solid $mainColor;
    outline-offset: 3px;
    border-radius: $borderRadiusExtra;
  }
}

.header-menu {
  @include flex(3%);
  max-width: 1190px;
  width: 100%;
  transition: $transition;

  @include desktop {
    max-width: 1000px;
  }

  @include laptop {
    max-width: 870px;
  }

  @include lg-tablet {
    max-width: 992px;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
    position: fixed;
    top: 0;
    right: -100%;
    background-color: $mainBgrColor;
    overflow: auto;
    z-index: 15;

    &::before {
      content: "";
      position: absolute;
      width: 300px;
      height: 600px;
      top: -100px;
      left: -100px;
      background-color: $menuDecor;
      rotate: 15deg;
      filter: blur(50px);

      @include lg-mobile {
        width: 200px;
        height: 350px;
        top: -50px;
        left: -50px;
      }
    }
  }

  @include lg-mobile {
    gap: 40px;
  }

  &.active {
    right: 0%;
  }
}

.header-menu__list {
  @include flex(4%);
  max-width: 790px;
  width: 100%;
  font-size: 36px;
  font-weight: 500;
  color: $mainColor;

  @include desktop {
    max-width: 650px;
    font-size: 30px;
  }

  @include laptop {
    max-width: 570px;
    font-size: 26px;
  }

  @include lg-tablet {
    flex-direction: column;
    justify-content: center;
    gap: 45px;
    font-size: 35px;
  }

  @include lg-mobile {
    gap: 28px;
    font-size: 26px;
  }

  @include mobile {
    font-size: 20px;
  }
}

.header-menu__link {
  position: relative;
  z-index: 5;

  &:active {
    color: $accentColor;
  }
}

.header-menu__link::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 15px;
  left: 0%;
  bottom: -20px;
  background-color: $accentBgrColor;
  transform: rotate(-10deg);
  filter: blur(5px);
  transition: $transition;
  transform-origin: left;
  z-index: -1;
}

.header-menu__link:hover::after,
.header-menu__link:focus::after {
  width: 110%;
}

.header__button {
  max-width: 314px;
  padding: 22px 56px;
  font-size: 30px;
  font-weight: 700;
  color: $whiteColor;
  background-color: $accentBgrColor;
  border-radius: $borderRadiusExtra;

  &:hover,
  &:focus {
    box-shadow: 0 4px 4px 0 $hoverBtnBlue;
  }

  &:active {
    background-color: $mainColor;
  }

  @include desktop {
    padding: 18px 40px;
    font-size: 25px;
  }

  @include laptop {
    padding: 16px 30px;
    font-size: 22px;
  }

  @include lg-tablet {
    padding: 18px 66px;
    border-radius: $borderRadiusMobile;
    font-size: 35px;
    font-weight: 500;
    text-transform: capitalize;
  }

  @include lg-mobile {
    padding: 12px 46px;
    font-size: 20px;
  }

  @include mobile {
    padding: 8px 36px;
    font-size: 16px;
  }
}

.header__content {
  margin-top: 71px;

  @include lg-tablet {
    margin-top: 40px;
  }

  @include lg-mobile {
    margin-top: 20px;
  }
}

.header__content-container {
  padding-left: 36px;
  padding-right: 31px;

  @include laptop {
    padding-left: 20px;
    padding-right: 15px;
  }

  @include tablet {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.header__title {
  max-width: 681px;
  margin-top: 115px;
  font-size: 40px;
  font-weight: 500;
  text-transform: uppercase;
  color: $mainColor;

  @media (max-width: 1474.98px) {
    margin-top: 50px;
  }

  @include laptop {
    max-width: 620px;
    font-size: 36px;
  }

  @include lg-tablet {
    margin-top: 0px;
  }

  @include tablet {
    max-width: 500px;
    font-size: 28px;
  }

  @include lg-mobile {
    max-width: 380px;
    font-size: 22px;
  }

  @media (max-width: 444.98px) {
    font-size: 17px;
    max-width: 300px;
  }
}

.school {
  display: inline-flex;
  font-size: 46px;
  font-weight: 500;
  text-transform: none;
  position: relative;
  z-index: 1;

  @include laptop {
    font-size: 40px;
  }

  @include tablet {
    font-size: 32px;
    font-weight: 600;
  }

  @include lg-mobile {
    font-size: 24px;
  }

  @media (max-width: 444.98px) {
    font-size: 17px;
  }

  &::before {
    content: "";
    position: absolute;
    width: 140%;
    height: 15px;
    background-color: $accentBgrColor;
    left: 50%;
    bottom: 17px;
    transform: rotate(-10deg) translateX(-50%);
    filter: blur(5px);
    z-index: -1;

    @include tablet {
      height: 10px;
      bottom: 12px;
    }

    @include lg-mobile {
      height: 5px;
      bottom: 6px;
      filter: blur(4px);
    }
  }
}

.header__content-wrapper {
  @include flex;
  margin-top: -140px;
  position: relative;

  @media (max-width: 1474.98px) {
    margin-top: -50px;
  }

  @include lg-tablet {
    margin-top: 0px;
  }

  @include tablet {
    flex-direction: column;
    margin-top: 30px;
    align-items: flex-start;
  }

  @include lg-mobile {
    margin-top: 15px;
  }

  @include mobile {
    margin-top: 8px;
  }
}

.header__content-inner {
  max-width: 680px;
  max-width: 50%;
  margin-top: 132px;
  margin-right: -50px;
  padding-top: 20px;

  @media (max-width: 1474.98px) {
    margin-top: 50px;
  }

   @include laptop {
    max-width: 530px;
  }

  @include lg-tablet {
    margin-top: -20px;
    margin-right: -10px;
  }

  @include tablet {
    max-width: 100%;
  }

  @include lg-mobile {
    margin-top: 0;
    padding-top: 0;
  }
}

.advantages {
  margin-left: 45px;
  font-size: 20px;

  @include laptop {
    font-size: 18px;
  }

  @include lg-mobile {
    margin-left: 35px;
    font-size: 14px;
  }

  @media (max-width: 444.98px) {
    font-size: 12px;
  }

  @include mobile {
    margin-left: 18px;
  }

  &__item {
    padding-top: 16px;
    position: relative;

    @include lg-mobile {
      padding-top: 7px;
    }

    &::before {
      width: 25px;
      height: 25px;
      position: absolute;
      left: -40px;
      top: calc(50% + 8px);
      transform: translateY(-50%);

      @include lg-mobile {
        transform: scale(0.6);
        top: calc(50% - 8px);
        left: -35px;
      }

      @include mobile {
        transform: scale(0.4);
        left: -25px;
      }
    }

    &:not(:first-child)::before {
      content: url(./../../img/header/check-mark.svg);
    }

    &:first-child::before {
      content: url(./../../img/header/error-mark.svg);
    }
  }
}

.header__content-button {
  margin-top: 48px;
  padding: 24px 30px;
  font-size: 25px;
  font-weight: 600;
  letter-spacing: 1px;
  color: $whiteColor;
  background-color: $mainColor;
  border-radius: $borderRadius;

  &:hover,
  &:focus {
    box-shadow: 0 4px 4px 0 rgba(255, 212, 42, 0.6);
    outline: none;
  }

  &:active {
    background-color: $accentBgrColor;
  }

  @media (max-width: 1354.98px) {
    padding: 20px 25px;
    font-size: 22px;
  }

  @include laptop {
    margin-top: 25px;
    padding: 18px 20px;
    font-size: 20px;
  }

  @include lg-tablet {
    display: none;
  }
}

.header__content-button-mobile {
  display: none;

  @include lg-tablet {
    display: flex;
    width: 70%;
    margin: 35px auto;
  }

  @include tablet {
    width: 90%;
    border-radius: $borderRadiusMobile;
  }

  @include lg-mobile {
    margin: 20px auto;
    padding: 11px 0 11px;
    font-size: 16px;
    font-weight: 500;
    text-transform: none;
    letter-spacing: 0;
  }

  @include mobile {
    width: 100%;
    padding: 8px 0 8px;
  }
}

.header__img-wrapper {
   max-width: 53%;

  @include tablet {
    max-width: 100%;
    margin-top: 50px;
  }

  @include lg-mobile {
    margin-top: 15px;
  }
}

.header__img {
  transition: 0.5s ease-in;

  &:hover {
    transform: scale(1.02);
  }
}

// MOBILE MENU

.menu-burger {
  display: none;
  position: fixed;
  z-index: 25;
  cursor: pointer;

  @include lg-tablet {
    display: block;
    width: 40px;
    height: 25px;
    top: 85px;
    right: 70px;
  }

  @include tablet {
    top: 72px;
    right: 55px;
  }

  @include lg-mobile {
    width: 22px;
    height: 15px;
    top: 45px;
    right: 35px;
  }

  @include mobile {
    top: 35px;
    right: 45px;
  }

  span {
    position: absolute;
    top: calc(50% - 2px);
    left: 0;
    width: 100%;
    height: 4px;
    background-color: $mainColor;
    border-radius: 4px;
    transition: $transition;
    transform-origin: center;

    @include lg-mobile {
      top: calc(50% - 1px);
      height: 2px;
    }

    &:first-child {
      top: 0;
    }

    &:last-child {
      top: auto;
      bottom: 0;
    }
  }

  &.active {
    span {
      transform: scale(0);
      margin-right: -20px;

      &:first-child {
        transform: rotate(-45deg);
        top: calc(50% - 2px);

        @include lg-mobile {
          top: calc(50% - 1px);
        }
      }

      &:last-child {
        transform: rotate(45deg);
        bottom: calc(50% - 2px);

        @include lg-mobile {
          top: calc(50% - 1px);
        }
      }
    }
  }
}

.header-menu__flower {
  display: none;
  max-width: 140px;
  height: auto;

  @include lg-tablet {
    display: block;
    position: absolute;
    top: 10px;
    left: 0px;
  }

  @include lg-mobile {
    max-width: 83px;
  }
}

.header-menu__img {
  display: none;
  max-width: 140px;
  height: auto;

  @include lg-tablet {
    display: block;
    position: absolute;
    bottom: 0px;
    right: 0px;
  }

  @include lg-mobile {
    max-width: 78px;
  }
}


// DECOR

.header__bubble-sm-decor,
.header__bubble-lg-decor {
  position: absolute;
  background-color: $bubbleDecor;
  border-radius: $borderRadiusExtra;
  transition: $transition;

  &:hover {
    background-color: $hoverBtnBlue;
    transform: scale(1.1);
  }
}

.header__bubble-sm-decor {
  width: 25px;
  height: 25px;
  top: 28%;
  left: 47%;

  @include laptop {
    width: 18px;
    height: 18px;
    top: 20%;
  }

  @include lg-tablet {
    top: 13%;
    left: 45%;
  }

  @include tablet {
    top: 0%;
    left: 62%;
  }

  @include lg-mobile {
    width: 9px;
    height: 9px;
   }

  @include mobile {
    top: -4%;
    left: 70%;
  }
}

.header__bubble-lg-decor {
  width: 53px;
  height: 53px;
  top: 68%;
  left: 40%;

  @include desktop {
    top: 54%;
  }

  @include laptop {
    width: 40px;
    height: 40px;
    top: 62%;
  }

  @include lg-tablet {
    top: 75%;
    left: 30%;
  }

  @include tablet {
    top: 20%;
    left: 82%;
  }

  @include lg-mobile {
    width: 14px;
    height: 14px;
  }

  @include mobile {
    top: 30%;
    left: 85%;
  }
}

.mobile-menu-star1,
.mobile-menu-star2 {
  display: none;

  @include lg-tablet {
    display: block;
    fill: #acc400;
  }
}

.mobile-menu-star1 {
  @include decor(20%, 70%);
  @include decorAnimationMicro(4s);

  @include lg-mobile {
    @include decorAnimation(4s);
  }
}

.mobile-menu-star2 {
  @include decor(80%, 10%);
  @include decorAnimationMicro(8s);

  @include lg-mobile {
    @include decorAnimation(8s);
  }
}
