.help {
  margin-top: -200px;
  padding-top: 400px;
  padding-bottom: 300px;
  position: relative;

  @include lg-tablet {
    margin-top: -290px;
  }

  @include tablet {
    margin-top: -150px;
    padding-top: 300px;
    padding-bottom: 270px;
  }

  @include lg-mobile {
    margin-top: -30px;
    padding-top: 30px;
  }

  @include mobile {
    margin-top: -50px;
    padding-top: 30px;
  }

  &::before,
  &::after {
    position: absolute;
    width: 100%;
    height: 500px;
    z-index: 0;
  }

  &::before {
    content: url("./../../img/help/help-bgr-before.webp");
    top: 173px;
    left: 0;

    @include lg-mobile {
      content: url("./../../img/help/help-bgr-before-mobile.webp");
      top: 71px;
      left: -40px;
    }

    @include mobile {
      top: 92px;
    }
  }

  &::after {
    content: url("./../../img/help/help-bgr-after.webp");
    bottom: 190px;
    left: 0;

    @include lg-mobile {
      content: url("./../../img/help/help-bgr-after-mobile.webp");
      top: 308px;
      left: -40px;
    }

    @media (max-width: 454.98px) {
      top: 350px;
    }

    @include mobile {
      top: 321px;
    }
  }
}

.help__wrapper {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: $accentBgrColor;
  position: relative;
  z-index: 1;

  @include laptop {
    padding-bottom: 40px;
  }

  @include tablet {
    margin-top: 50px;
  }

  @include lg-mobile {
    background-color: transparent;
    margin-top: 30px;
  }
}

.help__title {
  padding-left: 30px;
  padding-right: 50px;
  font-size: 50px;
  font-weight: 700;
  color: $mainColor;
  text-align: right;

  @include laptop {
    font-size: 40px;
  }

  @include lg-tablet {
    padding-left: 150px;
    font-size: 36px;
  }

  @include tablet {
    padding-left: 120px;
    padding-right: 30px;
    font-size: 28px;
  }

  @include lg-mobile {
    padding-left: 50px;
    padding-right: 20px;
    font-size: 20px;
    font-weight: 600;
  }

  @include mobile {
    padding-left: 30px;
    padding-right: 15px;
    font-size: 17px;
  }
}

.help__text {
  margin-top: 60px;
  padding-left: 50px;
  padding-right: 50px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px 30px;

  @include laptop {
    margin-top: 40px;
    padding-left: 30px;
    padding-right: 30px;
    gap: 40px 30px;
  }

  @include lg-tablet {
    @include flex(30px);
    flex-direction: column;
    padding-left: 120px;
    padding-right: 50px;
  }

  @include tablet {
    padding-left: 60px;
    padding-right: 30px;
  }

  @include lg-mobile {
    margin-top: 20px;
    padding-left: 41px;
    padding-right: 15px;
    gap: 20px;
  }
}

.help__text p {
  max-width: 540px;
  margin-left: 90px;
  position: relative;

  @include lg-tablet {
    max-width: 100%;
  }
  @include lg-mobile {
    margin-left: 65px;
  }

  @include mobile {
    margin-left: 50px;
  }

  &::before {
    content: url("/img/help/heart.svg");
    position: absolute;
    top: 0;
    left: -85px;

    @include laptop {
      transform: scale(0.8);
    }

    @include lg-tablet {
      top: -12px;
      transform: scale(0.7);
    }

    @include tablet {
      left: -70px;
      transform: scale(0.6);
    }

    @include lg-mobile {
      top: -24px;
      left: -55px;
      transform: scale(0.3);
    }

    @include mobile {
      top: -27px;
    }
  }
}

// DECOR

.help__top-img1 {
  max-width: 136px;
  height: auto;
  position: absolute;
  top: 64px;
  right: 17%;

  @include lg-tablet {
    top: 60%;
    right: 0;
    left: -8%;
    z-index: 2;
    transform: scaleX(-1);
  }

  @include tablet {
    left: -11%;
  }

  @include lg-mobile {
    max-width: 83px;
    top: 43%;
    left: -7%;
  }

  @media (max-width: 489.98px) {
    left: -9%;
  }

  @include mobile {
    top: 48%;
    left: -10%;
  }
}

.help__top-img2 {
  max-width: 120px;
  height: auto;
  position: absolute;
  top: 132px;
  right: 8%;

  @include desktop {
    top: 147px;
  }
  @include laptop {
    right: 6%;
  }

  @include lg-tablet {
    display: none;
  }
}

.help__top-img3 {
  display: none;

  @include lg-tablet {
    display: block;
    max-width: 100px;
    height: auto;
    position: absolute;
    top: 22%;
    left: 0%;
    z-index: 2;
  }

  @include lg-mobile {
    max-width: 69px;
    top: 11%;
  }

  @include mobile {
    top: 14%;
  }
}

.help__bottom-img {
  position: absolute;
  max-width: 83px;
  height: auto;
  bottom: -166px;
  left: 0%;

  @include lg-tablet {
    display: none;
  }
}

.help__decor {
  @include decor(74%, 93%);
  z-index: 2;

  @include laptop {
    @include decor(71%, 93%);
    transform: scale(0.8);
  }

  @include lg-tablet {
    @include decor(83%, 4%);
    transform: scale(0.6);
  }

  @include lg-mobile {
    @include decor(65%, -3%);
    transform: scale(0.3);
  }

  @include mobile {
    @include decor(67%, -3%);
  }
}
