.tariffs {
  margin-top: 130px;
}

.tariffs__container {
  padding-left: 41px;
  padding-right: 41px;
}

.tariffs__cards-wrapper {
  @include flex(2%);
  align-items: end;
}

.accent-card {
  @include flex;
  flex-direction: column;
  max-width: 343px;
  padding: 19px 27px 15px;
  border-radius: $borderRadiusExtra;
  background-color: $accentColor;
}

.accent-card__flower {
  max-width: 236px;
  height: auto;
  margin-bottom: 13px;
}

.card-inner {
  max-width: 290px;
  margin-top: 30px;
  padding: 28px 16px 16px;
  text-align: center;
  background-color: $whiteColor;
  border-radius: $borderRadius;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.last-card {
  padding: 28px 8px 20px;
}

.tariffs__simple-cards {
  @include flex(2%);
}

.card-img {
  border-radius: 130px;
}

.accent-card__img {
  margin-bottom: 15px;
  margin-top: 21px;
}

.simple-card__img {
  margin-bottom: 8px;
}

.simple-card__img1,
.simple-card__img2 {
  width: 258px;
  margin-top: 23px;
}

.simple-card__img3 {
  width: 274px;
  margin-top: 21px;
}

.card-price {
  font-size: 30px;
  margin-bottom: 7px;
}

.card-lessons {
  font-size: 33px;
  font-weight: 600;
}

.accent-card__lessons {
  color: $cardLessonColor;
}

.simple-card__lessons {
  color: $mainColor;
}

.accent-card__lessons-crossed-out {
  margin-top: 5px;
  font-size: 31px;
  font-weight: 600;
  color: $cardLessonColor;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    left: 50%;
    height: 2px;
    width: 85%;
    background-color: currentColor;
    top: 55%;
    transform: translateX(-50%);
  }
}

.card-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 13px 51px;
  margin-top: 29px;
  font-size: 25px;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: $borderRadius;
  cursor: pointer;
  transition: $transition;
}

.accent-card__btn {
  color: $secondTextColor;
  background-color: $whiteColor;

  // &:hover,
  // &:focus {
  //   box-shadow: 0 4px 4px 0 rgba(255, 212, 42, 0.6);
  //   outline: none;
  // }

  // &:active {
  //   background-color: $accentBgrColor;
  // }
}

.simple-card__btn {
  background-color: $mainColor;
  color: $whiteColor;
  margin-bottom: 15px;

  &:hover,
  &:focus {
    box-shadow: 0 4px 4px 0 rgba(255, 212, 42, 0.6);
    outline: none;
  }

  &:active {
    background-color: $accentBgrColor;
  }
}

.tariffs__title-content {
  @include flex(60px);
  flex-direction: column;
  max-width: 976px;
}

.tariffs__title-wrapper {
  @include flex(24px);
  align-self: flex-end;
  align-items: flex-end;
  margin-right: 78px;
}

.tariffs__title-img {
  max-width: 129px;
  height: auto;
}

.tariffs__title {
  color: $accentColor;
}
