// Fonts

$mainFamily: "Montserrat", sans-serif;


// Colors

$mainBgrColor: #FEFAE2;
$bgrColor: #E6F9F3;
$accentBgrColor: #FCDE58;
$footerBgrColor: #D2F3E8;

$mainColor: #42816C;
$accentColor: #FFD42A;
$textColor: #212019;
$secondTextColor: #3C5A4C;
$whiteColor: #fff;
$swiperTextColor: #2D2B2B;

$hoverBtnBlue: #b3dcd7;

$bubbleDecor: #91C6FF;
$borderColor: #46A988;

$gradientColor: linear-gradient(to right, rgba(252, 225, 104, 1) 0%, rgba(252, 225, 104, 0.8) 41%, rgba(249, 149, 118, 0.4) 100%);

// Border

$borderRadius: 15px;
$borderRadiusExtra: 50px;
// $border-radius-mobile: 8px;

// Transition

$transition: 0.3s ease-in;